#[server]
#log = "sisito-api.log"
#gzip = true
#prefix = "/v1"

[database]
host = "localhost"
port = 3306
database = "sisito_development"
username = "root"
password = ""

[[user]]
userid = "foo"
password = "bar"

[[filter]]
key = "recipient"
value = "foo@example.com"

[[filter]]
key = "senderdomain"
operator = "<>"
value = "example.net"

[[filter]]
join = "OR"
sql = "softbounce = 0"

[[filter]]
key = "reason"
values = ["filterd", "blocked"]

[authz]
recent = true
listed = false
blacklist = true
