#[server]
#log = "sisito-api.log"

[database]
host = "localhost"
port = 3306
database = "sisito_development"
username = "root"
password = ""

[[user]]
userid = "foo"
password = "bar"

[[filter]]
key = "recipient"
value = "foo@example.com"

[[filter]]
key = "senderdomain"
operator = "<>"
value = "example.net"

[[filter]]
join = "OR"
sql = "softbounce = 0"
